body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  #app {
    height: 100%;
    width: 100%;
  }
.scene{
  &_change_buttons{
position: absolute;
z-index: 99;
left: 50%;
top: 50px;
  }
}